<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513109803323-b9ithhlqjib88057b4gv6sdjb84kl5fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513109803323-b9ithhlqjib88057b4gv6sdjb84kl5fv</string>
	<key>API_KEY</key>
	<string>AIzaSyDGasyjhKvFKDTP_bfcNfVJeVg1UASVtlA</string>
	<key>GCM_SENDER_ID</key>
	<string>513109803323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.filipepiresg.adotepet</string>
	<key>PROJECT_ID</key>
	<string>adotapet-ufcg</string>
	<key>STORAGE_BUCKET</key>
	<string>adotapet-ufcg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513109803323:ios:2f73fbe0bb65e14689b71e</string>
	<key>DATABASE_URL</key>
	<string>https://adotapet-ufcg.firebaseio.com</string>
</dict>
</plist>